<!--
    The about.html page provides a brief overview of the web application and its purpose.
    It explains that the main goal of the application is to help users improve their sense
    of wellbeing through personalized goal setting related to nutrition, fitness, and healthy lifestyle habits
    The page also highlights the importance of wellbeing in promoting human health, happiness
    and its positive impact on various aspects of life including education, productivity, and social relationships.
    The about.html page assures users that their data is secured and their privacy is protected.
    Finally, the page invites users to register and take advantage of the application's features to enhance their wellbeing.
 -->
 <html>
    <style>
        head {text-align: center;}
        h1 {text-align: center;}
        p {text-align: center;}
        div {text-align: center;}
    </style>
    <head>
        {{>header}}
        <link rel="stylesheet" href="style.css"/>
    </head>
    <div>
        <a href="/" class="logo">
            <img src="HappyHabitsLogo.png" alt="Happy Habits Logo">
        </a>
        <h1>About Happy Habits</h1>
        <p>Welcome to our site. Replace the introductory paragraph with a brief description of your application and its main purpose, emphasizing how it helps users improve their sense of wellbeing.</p>  
    </div>
</html>