<html>
    <head>
        {{>header}}
    </head>
    <body class="body">
        <h1>{{title}}</h1>
        <div class="text-right">
            <a href="/new" class="btn btn-primary">
                Create New Goal
            </a>
        </div>
        {{#entries}}
            <div>
                <h2>Goal: {{goalName}} 
                    <a type="submit" href="/update" class="btn btn-primary">Edit</a> 
                    <form method="POST" action="/delete/{{id}}" onsubmit="return confirm('Are you sure you want to delete this goal?')">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn btn-primary">Remove</button>
                    </form>
                </h2>
                <h5>
                    Description:<br/>
                    {{description}}
                <p> Goal Category: {{category}} </p>    
                <p> Goal Created on: {{published}} </p>
                <p> Goal Started on: {{startDate}} </p>
                <p> Goal Ending on: {{endDate}} </p>
                <p> Has the Goal been Completed: {{complete}} </p>
            </h5>
            </div>
            <hr>
        {{/entries}}
        {{^entries}}
            No entries yet.
        {{/entries}}
    </body>
</html>