<html>
    {{#message}}
        <div class="alert alert-danger">{{message}}</div>
    {{/message}}
    <head>
        {{>header}}
    </head>
    <style>
        head {
          text-align: center;
        }
    
        h1 {
          text-align: center;
        }
    
        p {
          text-align: center;
        }
    
        div {
          text-align: center;
        }
      </style>
    <body class="body">
        <h1>Fitness Information</h1>
        <p>Welcome to Happy Habits! Our goal is to help you develop and maintain healthy habits that
            contribute to your overall well-being. Whether you want to improve your fitness, nutrition,
            or lifestyle, we have resources and support to help you reach your goals. Our community of
            like-minded individuals is here to inspire and motivate you along the way. Browse our resources,
            connect with other members, and start creating the habits that will lead to a happier, healthier you.</p>
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus</p>

        <div class="text-right">
            <a href="/new" class="btn btn-primary">
                Create New Goal
            </a>
        </div>
        {{#entries}}
            <div>
                <h2>Goal: {{goalName}} <a href="/" class="btn btn-primary">Edit</a> <a href="/" class="btn btn-primary">Remove</a></h2>
                <h5>
                    Description:<br/>
                    {{description}}
                <p> Goal Category: {{category}} </p>    
                <p> Goal Created on: {{published}} </p>
                <p> Goal Started on: {{startDate}} </p>
                <p> Goal Ending on: {{endDate}} </p>
                <p> Has the Goal been Completed: {{complete}} </p>
            </h5>
            </div>
            <hr>
        {{/entries}}
        {{^entries}}
            No entries yet.
        {{/entries}}
    </body>
</html>