<html>
    {{#message}}
        <div class="alert alert-danger">{{message}}</div>
    {{/message}}
    <head>
        {{>header}}
    </head>
    <body class="body">
        <!--<h1>Hello {{name}}, Here is your {{title}}</h1>-->
        <div class="text-right">
            <a href="/new" class="btn btn-primary">
                Create New Goal
            </a>
        </div>
        {{#entries}}
            <div>
                <h2>Goal: {{goalName}} <a href="/" class="btn btn-primary">Edit</a> <a href="/" class="btn btn-primary">Remove</a></h2>
                <h5>
                    Description:<br/>
                    {{description}}
                <p> Goal Category: {{category}} </p>    
                <p> Goal Created on: {{published}} </p>
                <p> Goal Started on: {{startDate}} </p>
                <p> Goal Ending on: {{endDate}} </p>
                <p> Has the Goal been Completed: {{complete}} </p>
            </h5>
            </div>
            <hr>
        {{/entries}}
        {{^entries}}
            No entries yet.
        {{/entries}}
    </body>
</html>