<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
{{>bubble}}
<link rel="stylesheet" href="style.css"/>
<title>{{title}}</title>
    <header class="header">
      <a href="/home" class="logo_resize">
          <img class="logo_resize" src="HappyHabitsLogo.png" alt="Happy Habits Logo">
      </a>
      <nav class="nav">
          <a href="/home">Home</a>
          <a href="/about">About</a>
          {{#authenticated}}
              <a href="/allgoals">All Goals</a>
              <a href="/completed-goals">Goals Completed</a>
              <a href="/notcompleted-goals">Not Yet Complete</a>
              <a href="/fitness">Fitness</a>
              <a href="/nutrition">Nutrition</a>
              <a href="/lifestyle">Lifestyle</a>
              <a><form action="/logout?_method=DELETE" method="POST">
                <button type="submit" style="background:none; border:none; color: white; cursor:pointer;">Log Out</button>
              </form></a>
          {{/authenticated}}
          {{^authenticated}}
              <a href="/login">Login</a>
              <a href="/register">Register</a>
          {{/authenticated}}
      </nav>
  </header>