<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<title>{{title}}</title>
   <header class="header">
      <a href="/" class="logo">Happy Habits</a>
      <link rel="stylesheet" href="style.css"/>
      <nav class="nav">
        <a href="/">Home</a>
        <a href="/About">About</a>
        <a href="/">Fitness</a>
        <a href="/">Nutrition</a>
        <a href="/">Lifestyle</a>
        <a href="/">Goals Completed</a>
      </nav>
      <div>
      <a href="/" class="btn btn-primary">Login</a>
      <a href="/" class="btn btn-primary">Register</a>
    </div>
    </header>