<html>
    <head>
        {{>header}}
    </head>
    <body class="body">
        <div id="alert-message">{{alertMessage}}</div>
        <h1>Hello {{name}}, Welcome to the Index</h1>
        <form action="/logout?_method=DELETE" method="POST">
          <button type="submit">Log Out</button>
        </form>
    </body>
</html>