<html>
    <link rel="stylesheet" href="style.css"/>
    <style>
        head {align-items: center;}
        h1 {text-align: center;}
        p {text-align: center;}
        div {text-align: center;}
    </style>
    <head>
        {{>header}}
    </head>
    <body class="body">
        <div id="alert-message">{{alertMessage}}</div>
        <h1>Hello {{name}}</h1>
        <h1>Welcome to the HappyHabits!</h1>
        <div>
            <a href="/home" class="logo">
                <img src="HappyHabitsLogo.png" alt="Happy Habits Logo">
            </a>
            <p>Welcome to our site. Replace the introductory paragraph with a brief description of your application and its main purpose, emphasizing how it helps users improve their sense of wellbeing.</p>  
        </div>
    </body>
</html>